{{ define "main" }}
<div>
  <h1 class="article-title">{{ .Title }}</h1>
  <div class="header-container">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">🗓 {{ $dateHuman }}</time>
    {{ if .Params.tags }}
    <div class="article-tag">
      <p class="flex-items">🏷️</p>
      <ul class="flex-items">
        {{ range .Params.tags }}
        <li class="header-item">
          <a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
  {{ if or .Params.Toc $.Site.Params.Toc }}
  {{ if ne .Params.Toc false }}
  <details class="page-toc">
    <summary>Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  {{ end }}
</div>
<div>
  {{ .Content | safeHTML }}
</div>
{{ end }}
