{{ define "main" }}
<article>
  <header>
    <h1 class="article-title">{{ .Title }}</h1>
    <div class="header-container">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    <ul class="flex-items">
      {{ range .Params.tags }}
      <li class="header-item">
        <a href="{{ "tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    </div>
    {{ if or .Params.Toc $.Site.Params.Toc }}
    {{ if ne .Params.Toc false }}
    <details class="page-toc">
      <summary><b>Table of Contents</b></summary>
      {{ .TableOfContents }}
    </details>
    {{ end }}
    {{ end }}
  </header>
  <div>
    {{ .Content | safeHTML }}
  </div>
  </article>
{{ end }}
